body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #FF6B6B;
    display: flex;
    gap: 20px;
    /* padding: 25px 0px 25px 50px; */
    padding: 0px 0px 0px 50px;

}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
    padding: 25px;
}

nav a:hover{
    color : rgb(52, 0, 4);
    cursor: pointer;
    background-color: rgb(255, 136, 136);
}

.card {
    width: 250px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.card:hover {
    border: 1px solid #3131ff;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h4 {
    font-size: 20px;
    margin: 0px;
}

.card p {
    margin: 5px 0px;
}

.card ul {
    padding: 0px 20px;
    margin: 0px;
}

.card-body {
    padding: 10px;
}

.btn {
    width: 100%;
    padding: 5px;
    background: #3131ff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    display: block;
}
.btn:hover {
    background: #ffffff;
    border : 1px solid #3131ff;
    color: #3131ff;
    cursor: pointer;
}

section{
    display: flex;
    justify-content: start;
    gap : 20px;
    flex-wrap: wrap;
    padding: 50px;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}